<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title FSD 4th task: range slider library
    link(rel="stylesheet", type="text/css", href="styles/rslider.css")
    link(rel="stylesheet", type="text/css", href="styles/demo.css")
  body
    h1 FSD 4th task: range slider library demo

    .demo-container
      h2 #foo container
      #foo

    script(type="text/javascript", src="scripts/rslider.js")
    script(type="text/javascript", src="scripts/demo.js")
