* 
  box-model: border-box

body
  margin: 0
  background: #f0f0f0
  font-family: serif

main
  display: grid
  grid-template: "foo bar" auto "fizz buzz" auto / 1fr 1fr
  grid-gap: 10px
  max-width: 900px
  margin: 0 auto

h1
  margin-bottom: 100px
  text-align: center

h2
  margin: 0 0 20px

.demo-container
  padding: 20px
  background: white
  border-radius: 6px