*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f0f0f0;
  font-family: serif;
}

main {
  display: grid;
  grid-template: 'foo bar' auto 'fizz buzz' auto/1fr 1fr;
  gap: 10px;
  max-width: 900px;
  margin: 40px auto;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0 0 40px;
}

.demo-container {
  background: white;
  border-radius: 6px;
  padding: 20px;
}

.demo-content {
  display: flex;
  gap: 32px;
}

#foo,
#bar {
  flex-direction: column;
}

#fizz,
#buzz {
  flex-direction: row;
}
