<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title FSD 4th task: range slider library
    link(rel="stylesheet", href="rslider.css")
  body
    h1 FSD 4th task: range slider library demo
    
    .demo-container
      h2 Static slider html layout
      .rslider.rslider--layout_horizontal
        .rslider__base-track
        .rslider__handler